<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="codehelper.web.servlet.store.mapper.CoinHistoryMapper">
	<select id="retrieveByMember" parameterType="string" resultType="CoinHistory">
		
		Select cId AS id,
			   cKind AS ,
			   mId As member,
			   qId
		from coinhistory_tb
		where mId = #{member}
		
	</select>
</mapper>