<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="codehelper.web.servlet.store.mapper.CoinHistoryMapper">
	<select id="retrieveByMember" parameterType="string" resultType="CoinHistory">
		Select cId AS id,
			   cKind AS type,
			   cAmount AS amount,
			   cBalance AS balance,
			   mId AS memberId,
			   qId AS questionId
		from coinhistory_tb
		where mId = #{memberId}
	</select>
	
	<insert id="insert" parameterType="CoinHistory">
		<selectKey keyProperty="id" resultType="int" order="BEFORE">
			Select coinhistory_seq.nextval from dual
		</selectKey>
		Insert into coinhistory_tb(cId, cKind, cAmount, cBalance, mId, qId)
		values(#{id}, #{type}, #{amount}, #{balance}, #{memberId}, #{questionId})
	</insert>
</mapper>